*{
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "navbar navbar"
    "video map"
    "footer footer";

}
.navbar{
    grid-area: navbar;
}
.footer{
    grid-area: footer;
}
.btons{
    align-self: center;
   justify-self: center;
}
.video{
    grid-area: video;
    margin: auto;
}
.map{
    grid-area: map;
    display: block;
    margin: auto;
}

/*Estilos nav*/
.ifMenu {
width: 100%;
height: 50px;
}

/*Estilos footer*/
.ifFooter {
    width: 100%;
    height: 30%;
    padding-bottom: 0% ;
    bottom: 0 !important;
    position: absolute;
}