* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 1fr 1fr ;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navbar  navbar" "player  player" "control control" "map map" "text  text" "footer  footer";
}

.navbar {
    grid-area: navbar;
}

.footer {
    grid-area: footer;
}

.map {
    grid-area: map;
    width: auto;
    margin-top: 40px;
    margin-left: 40px;
    display: block;
}

.text {
    grid-area: text;
    margin: auto;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    display: block;
}

.controlplayer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 0.1fr;
    ;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "player player player" "player player player" "control control control";
    grid-area: controlplayer;
}

.player {
    grid-area: player;
    width: 95%;
    height: 100%;
    margin: auto;
    margin-top: 40px;
    margin-left: 40px;
    display: block;
}

.control {
    grid-area: control;
    margin-left: 40px;
}


/*Estilos nav*/

.ifMenu {
    width: 100%;
    height: 50px;
}


/*Estilos footer*/

.ifFooter {
    width: 100%;
    height: 175px;
    padding-bottom: 0%;
    bottom: 0 !important;
}

@media screen and (min-width: 736px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 2.9fr 0.6fr 0.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "navbar  navbar" "controlplayer  map" "controlplayer  text" "footer  footer";
    }
    .footer {
        grid-area: footer;
    }
    .map {
        grid-area: map;
       
        margin-top: 40px;
        margin-left: 40px;
        display: block;
    }
   
}